<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">

    <li class="nav-item">
      <a routerLink="cardapio" 
      class="nav-link px-2 text-body-secondary">Cardápio</a>
    </li>

    <li class="nav-item">
      <a routerLink="comidas"  
      class="nav-link px-2 text-body-secondary">Comidas</a>
    </li>

    <li class="nav-item">
      <a routerLink="bebidas" 
      class="nav-link px-2 text-body-secondary">Bebidas</a>
    </li>

    <li class="nav-item">
      <a 
      class="nav-link px-2 text-body-secondary">Pedidos</a>
    </li>

  </ul>

  <p class="text-center text-body-secondary">© 2023 NgFood</p>

</footer>