@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c2130;
    height: 30px;
}

p {
    color: white; 
    font-family: 'Orbitron', sans-serif;   
    font-size: 12px;
    margin: 10px;
}