@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #e6f0af;
    text-align: center;
}
#container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;

}
.containerPessoa{
    border: 1px solid black;
    padding: 20px;
    background-color: #d7e8d5;
}