<!-- CONTAINER PRINCIPAL -->
<div class="px-4 py-5 my-5 text-center border-bottom">

    <h1 class="display-5 fw-bold text-body-emphasis">{{infoApresentacao.titulo}}</h1>

    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">{{infoApresentacao.descricao}}</p>

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="#secaoCardapio" class="btn btn-outline-secondary btn-lg px-4">{{infoApresentacao.tituloBotao}}</a>
        </div>
    </div>
</div>

<!-- CARDS BEBIDA E COMIDA -->

<div id="secaoCardapio" class="container px-4 py-5">
    <h2 class="pb-2 text-center">Cardápio</h2>
    
    <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
        <div *ngFor="let item of itensCardapio" 
        class="col" 
        (click)="navegarParaPagina(item)">

            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                [ngStyle]="{'background-image': 'url(' + item.urlImagem+ ')'}">

                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h5 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{item.titulo}}</h5>

                </div>
            </div>
        </div>
    </div>
</div>