* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #F2F2F2;
}
.container-fluid {
    padding: 0px;
}

header{
    background-color: #ffd41f;
    padding: 5px 10px 5px 10px;
    border: 1px solid #9c9994;   
    box-shadow: 1px 1px 10px #9c9994;   
}
h1{
    text-align: center;
}

nav {
    background-color: #1ec3ea;
    padding: 20px 30px 675px 30px; 
}

main {
    padding: 20px;
}



@media (max-width: 992px) {
    nav {
        padding: 20px;
    }
  }