<nav class="navbar navbar-expand-lg mb-5">
    <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand" href="#">
            <img src="../../../../assets/logo.png" alt="Logo" width="35" height="35">
        </a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

         <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="contentLinks">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cursos livres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cursos técnicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Graduação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Especialização</a>
                </li>
            </ul>
        </div>
    </div>
</nav>