nav {
    background-color: #96d7eb;
    box-shadow: 0px 0px 15px black;
}

div#navbarSupportedContent.collapse.navbar-collapse {
    margin-right: 0px;
    justify-content: flex-end;
}

ul#contentLinks {
    margin-right: 0px!important;
}

.nav-link.active {
    font-weight: 600;
}

.nav-link.active:hover {
    font-weight: 500;
}

