
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b4ccb9;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input {
    width: 500px;
}

p {
    font-size: 22px;
}